{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col p-5">
                <div>
                    <h4>
                        Delete Post
                    </h4>
                    <p>
                        <code>
                            <strong>
                                <sm>
                                    <a href="{% url 'blogs:list' %}">
                                        <code class="text-primary">
                                            Go Back
                                        </code>
                                    </a>
                                </sm>
                            </strong>
                        </code>
                    </p>
                </div>
                <div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <p>
                            Are you sure you want to delete "{{ post.title }}" ?
                        </p>
                        <p>
                            <input type="submit" class="btn btn-primary" value="Confirm"/>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}