{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col p-5">
                <div>
                    <h4>
                        Blog Posts List
                    </h4>
                    <p>
                        <a href="{% url 'blogs:create' %}">
                            <code class="text-success">
                                Create
                            </code>
                        </a>
                    </p>
                </div>
                {% for post in object_list %}
                    <div
                        class="card mb-3 post-item cursor-pointer"
                        onclick="goToBlogDetails('{{ post.slug }}')"
                        class="card-click">
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ post.title }}
                            </h4>
                            <p class="card-text">
                                {{ post.body }}
                            </p>
                        </div>
                        <div class="card-body">
                            <div>
                                <p>
                                    Date: {{ post.created_at }}
                                </p>
                                <p>
                                    Revision Date: {{ post.updated_at }}
                                </p>
                                <p>
                                    <a href="{% url 'blogs:list' %}" class="btn border">
                                        Author: {{ post.author }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}